/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.signupContainer{
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 600px;
  padding: 25px;
}

.userLocationContainer{
  max-width: 800px;
  padding: 15px;
}

.container {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 25px;
}

.verifyUserContainer{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin: 30px auto;
    max-width: 600px;
    padding: 25px;
}

.signinContainer{
  max-width: 600px;
  padding: 15px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height:0.8;
  color: inherit;
}

.md-toolbar-tools{
  background: #333637!important;
  border-color: #282a2b !important;
  color: #ffffff !important;
  position: fixed !important;
  transform: translate3d(0,0,0);
}


.btn {
  text-transform: none !important;
  margin: 10px 0 !important;
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.42857143 !important;
  text-align: center !important;
}

.btnGreen{
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
  color: #ffffff !important;
}

.btnBlue{
  background-color: #337ab7 !important;
  /*background-color:rgb(63, 81, 181) !important;*/
  border-color: #2e6da4 !important;
  color: #ffffff !important;
}

/*.btnBlue:hover{
    color: #ffffff !important;
}*/

.btnRed{
  background-color: #C9302C !important;
  border-color: #C9302C !important;
}

.btnRed:hover{
    color: #ffffff !important;
}

.btnWhite{
  background-color: #ffffff !important;
  border-color: #cccccc !important;
  color: #333333 !important;
}
.rightMenu{
  right: 0;
  position: absolute;
  top: 6px;
}

.md-subheader{
  background-color: #333637 !important;
  border-color: #282a2b !important;
  color: #ffffff !important;
  margin: 0 !important;
  padding: 2px 0px 2px 10px !important;
}

.md-subheader:not(.md-sticky-no-effect):after{
  right: 0 !important;
}

md-dialog md-content{
  padding: 0 !important;
}

.full {
  width: 100%;
  max-width: 350px;
}
.created_dialog {
    width: 100%;
    max-width: 600px;
}
#newUserForm,#locationForm{
    margin:20px 15px;
}
.md-sticky-clone {
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
    transform: none !important;
    z-index: 2;
}
section .md-button {
  display: block;
  margin-right: 0.9em !important;
}

.menuButtons{
  width: 100%;
  line-height: 2.4em !important;
  text-align: left !important;
  padding-left: 17px !important;
  text-transform: none !important;
  color: #337ab7 !important;
  border: 1px solid #ffffff !important;
  position: fixed;
}
.menuButtons:hover{
  background-color: #e0e0e0 !important;
}
.activeMenu{
  color: #C9302C !important;
}

.inactiveMenu{
  color:  #000000 !important;
}

.toggleBtn{
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px 0px;
    /*position: absolute;*/
    width: 36px;
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#location_timezone,#user_role,#user_default_location,#user_customer_contact,#businessTimezone {
    background-color: white;
    border: medium none;
    /*color: rgba(0, 0, 0, 0.40);*/
    outline: none;
    width: 100%;
}

label[for=location_timezone],label[for=user_role],label[for=user_default_location],label[for=user_customer_contact],label[for=businessTimezone]
{
    color: rgba(0, 0, 0, 0.26);
}
md-input-container {
    display: flex;
    flex-direction: column;
    padding: 2px 2px 10px;
    position: relative;
}
.form-group {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 10px 2px 2px 0px;
  position: relative;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 25px;
  margin-left: 2px;
}

.form-group label{
  font-size: 11px;
  padding-bottom: 5px;
  color: rgba(0,0,0,0.54);
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    min-width: 650px;
    height: 300px;
}

.userGridStyle{
  border: 1px solid rgb(212,212,212);
  width: 90%;
  min-width: 650px;
  /*height: 300px;*/
}

.ngHeaderContainer{
    font-weight: bold !important;
}

.ngVerticalBarVisible{
  width:0 !important;
  background-color: none !important;
}

.ngCellText{
  padding: 15px !important;
}
.ngHeaderCell{
  padding: 15px !important;
  height: 50px !important;
}

.ngTopPanel{
  height: 50px !important;
  background-color: #d8d8d8 !important;
}

.ngHeaderContainer{
  height: 50px !important;
}

.ngRow.even{
  background-color: #ffffff !important;
}
.ngRow.odd {
  background-color: #ffffff !important;
}
.ngRow.selected {
  background-color: #eaeaea !important;
}

md-dialog[aria-label=Delete] > md-content{
   padding: 20px !important;
}

md-dialog[aria-label=Delete] > .md-actions > button[ng-click='dialog.hide()']{
    background-color: rgb(198, 40, 40) !important;
    border-color: #C9302C !important;
    color: rgba(255, 255, 255, 0.87);
}

.leftBar{
  min-width: 130px !important;
  max-width: 180px !important;
  padding-top: 30px;
  min-height: 100%;
  position: fixed !important;
  margin-top: 64px;
}

.md-button{
  text-transform: none !important;
}

/*md-sidenav {*/
  /*position:fixed !important;*/
/*}*/

/*md-sidenav.md-locked-open{*/
  /*position:relative !important;*/
/*}*/


/*md-dialog.md-default-theme{*/
  /*border-radius: 8px !important;*/
/*}*/

