/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.signupContainer{
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 600px;
  padding: 25px;
}

.container {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 25px;
}

.signinContainer{
  max-width: 600px;
  padding: 15px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height:0.8;
  color: inherit;
}

.md-toolbar-tools{
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
  color: #ffffff !important;
}

.btn {
  text-transform: none !important;
  margin: 10px 0 !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.42857143 !important;
  text-align: center !important;
}

.btnGreen{
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.btnBlue{
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}

.btnWhite{
  background-color: #ffffff !important;
  border-color: #cccccc !important;
  color: #333333 !important;
}

.rightMenu{
  right: 0;
  position: absolute;
  top: 6px;
}

.md-subheader{
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
  color: #ffffff !important;
  margin: 0 !important;
  padding: 2px 0px 2px 10px !important;
}

.md-subheader:not(.md-sticky-no-effect):after{
  right: 0 !important;
}

md-dialog md-content{
  padding: 0 !important;
}

.full {
  width: 100%;
  max-width: 350px;
}

section .md-button {
  display: block;
  margin-right: 0.9em !important;
}

.menuButtons{
  width: 100%;
  line-height: 2.4em !important;
  text-align: left !important;
  padding-left: 17px !important;
  text-transform: none !important;
  color: #337ab7 !important;
  border: 1px solid #ffffff !important;
}
.activeMenu{
  background-color: #f5f5f5 !important;
}

.inactiveMenu{
  background-color: #ffffff !important;
}

/*md-dialog.md-default-theme{*/
  /*border-radius: 8px !important;*/
/*}*/

