<div class="tab-pane" id="dashboard-pane">
  <div>
    <h1>Dashboard</h1>
    <div class="well clearfix container" style="margin-top: 20px">
      <div>
        <h2>Welcome! </h2>
        <p>With the RSMT sync service you get:</p>
        <ul>
          <li>A dashboard showing up to the minutes stats</li>
          <li>Thank you and reminder emails</li>
          <li>Customer access to their shop records from your website</li>
          <li>Branded mobile apps so you're front and center on your customers' phones</li>
          <li>A timekeeping app for your shop employees</li>
          <li>A inspection app including photos and PDF generations</li>
          <li>Integrated payments</li>
          <li>Works with ROWriter, Mitchell, and NAPA</li>
        </ul>
      </div>
    </div>
  </div>
</div>
