<div class="tab-pane" id="locations-pane">
  <div>
    <div style="float:left">
      <h1>Locations</h1>
    </div>
    <div style="float:right">
      <md-button class="md-raised btn btnBlue" ng-click="newLocation($event)">New Location</md-button>
    </div>
    <div style="clear:both"></div>
    <p class="help-block">Please provide your business locations below. These are the locations that will be available in your Apps.</p>
      <!--ngGrid-->
    <div class="gridStyle" ng-grid="locationGridOptions"></div>
  </div>
</div>
