<div layout="column" layout-align="center left" >
    <div id="signup_result_panel" style="font-weight:400" class="verifyUserContainer">
        <p>A confirmation message has been sent to your email address.
            Please click the link in that email in order to confirm this account.
            Remember to check your <strong>SPAM</strong> folder if you can't find the message.</p>
        <p>If you have any questions please contact support@repairshopmarketingtools.com.</p>
        <md-button class="md-raised btn btnWhite" ng-click="resendConfimEmail()" ng-hide="hideSendConfBtn">Resend Confirmation Email</md-button>
        <span id="reconfirm_sent" ng-hide="showConfMsg">Reconfirmation email sent!</span>
    </div>
</div>
<!--ng-show="isLoggedin"-->