<md-dialog aria-label="Sign In">
    <div>
        <md-content class="md-padding " layout="column">
            <md-subheader class="signupContainer"><h3> Sign In</h3></md-subheader>
        </md-content>
    </div>
    <div layout-align="center left" class="signinContainer">
        <md-content layout="column">
            <md-input-container flex>
                <md-content style="max-height:100%;max-width:371px;padding: 0px">Enter the email you registered with us previously and we'll send you an email with instructions on how to reset your password.</md-content>
            </md-input-container>
            <form name="forgotPasswordForm" novalidate>
                <md-input-container flex>
                    <label>Email</label>
                    <input ng-model="resendEmail" type="email" placeholder="Your email address" required ng-minlength="5">
                </md-input-container>
                <md-content >
                    <section  layout="row" layout-sm="column" layout-align="left center">
                        <md-button class="md-raised btn btnGreen" ng-disabled="forgotPasswordForm.$invalid" ng-click="resendMail()">Send Email</md-button>
                        <md-button class="md-raised btn btnBlue" ng-click="hide()">Cancel</md-button>
                        <!--<div flex="33" style="padding: 15px"><a href="#" ng-click=""> Cancel </a></div>-->
                    </section >
                </md-content>
            </form>
        </md-content>
    </div>
</md-dialog>

