<md-dialog aria-label="Sign In">
    <div>
        <md-content class="md-padding " layout="column">
            <md-subheader class="signupContainer"><h3>Sign In</h3></md-subheader>
        </md-content>
    </div>
    <div>
        <md-content layout="column">
            <md-input-container flex>
                <md-content style="max-height:100%;max-width:371px;padding: 0px">Enter the email you registered with us previously and we'll send you an email with instructions on how to reset your password.</md-content>
            </md-input-container>
            <md-input-container flex>
                <label>Email</label>
                <input name="contactEmail" ng-model="user.contactEmail" placeholder="Your email address" required minlength="5">
                <div ng-messages="businessForm.contactEmail.$error" ng-show="businessForm.bio.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>

            <md-input-container flex>
                <div layout="row">
                    <div flex="33"><md-button class="md-raised btn btnGreenForSign" ng-click="signInUser()">Sign In</md-button></div>
                    <div flex="55" style="padding: 15px"><a href="#" ng-click=""> Cancel </a></div>
                </div>
            </md-input-container>
        </md-content>
    </div>
</md-dialog>

