<md-dialog aria-label="New Location" style="width: 100%; max-width:500px; min-height: 640px;" class="full" layout="column" layout-margin>
  <div>
    <md-content style="padding:0px;" layout="column">
      <md-subheader><h3>New Location</h3></md-subheader>
    </md-content>
  </div>
  <div layout-align="center left" class="userLocationContainer">
    <md-content style="padding: 10px" layout="column">
      <form name="locationForm" novalidate>
        <md-input-container flex>
          <label>Name</label>
          <input name="name" ng-model="newLocation.name" placeholder="Name" required ng-minlength="5">
        </md-input-container>
        <md-input-container flex>
          <label>Phone</label>
          <input name="phone" ng-model="newLocation.phone" placeholder="Phone" required ng-minlength="5">
        </md-input-container>
        <md-input-container flex>
          <label>Address</label>
          <input name="address" name="address" ng-model="newLocation.address" placeholder="Address" required>
        </md-input-container>
        <md-input-container flex>
          <label>City</label>
          <input name="city" ng-model="newLocation.city" placeholder="City" required>
        </md-input-container>
        <md-input-container flex>
          <label>State</label>
          <input name="state" ng-model="newLocation.state" placeholder="State" required>
        </md-input-container>
        <md-input-container flex>
          <label>Zip</label>
          <input name="zip" ng-model="newLocation.zip" placeholder="Zip" required>
        </md-input-container>
          <div class="form-group">
              <label for="location_timezone" class="control-label col-sm-2">Timezone</label>
              <div class="col-sm-10">
                  <select name="timezone" class="form-control" id="location_timezone" ng-model="newLocation.timezone">
                      <option value="US/Hawaii">US/Hawaii</option>
                      <option value="US/Alaska">US/Alaska</option>
                      <option value="US/Pacific">US/Pacific</option>
                      <option value="US/Arizona">US/Arizona</option>
                      <option value="US/Mountain">US/Mountain</option>
                      <option selected="selected" value="US/Central">US/Central</option>
                      <option value="US/Eastern">US/Eastern</option>
                  </select>
              </div>
          </div>
        <div><span style="color:red"> {{error}} </span></div>
        <md-button class="md-raised btn btnGreen" ng-disabled="newUserForm.$invalid" ng-click="saveLocation(newLocation)">Save</md-button>
        <md-button class="md-raised btn btnBlue" ng-click="cancel()">Cancel</md-button>
      </form>

    </md-content>
  </div>
</md-dialog>

